<header>
    <div class="nav-bar">
      <div class="logo">
        <h1>AI Chatbot</h1>
      </div>
      <nav>
        <ul>
          <li><a href="#welcome">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#features">Features</a></li>
          <li><a href="#testimonials">Users</a></li>
          <li><a href="#contact">Contact</a></li>
          <li><button class="btn btn-primary" routerLink="/chat">Chat</button></li>
          <li><button class="btn btn-secondary" routerLink="/signin">Sign In</button></li>
        </ul>
      </nav>
    </div>
  </header>
  


<div class="container">
    <div class="col-md-12 text-center">
      <h1>AI CHATBOT</h1>
      <ng-container *ngFor="let message of messages">
        <div class="message" [ngClass]="{'from': message.author === 'bot', 'to': message.author === 'user'}">
          {{ message.content }}
        </div>
      </ng-container>
    </div>
  </div>
  
  <div class="col-md-10 text-center ">
    <div>
      <label *ngIf="messages.length == 0; else dialogInfo" for="nameField" class="text-center">Your message</label>
    </div>
    <input [(ngModel)]="value" (keyup.enter)="sendMessage()" type="text">
    <button class="btn btn-primary" (click)="sendMessage()">Ask Me</button>
    <ng-template #dialogInfo>
      <span>Total messages: {{ messages.length }}</span>
    </ng-template>
  </div>
  